@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');

body {
    font-family: 'Roboto Slab', serif;
}

button:focus,
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

header {
    background-color: #182627;
    padding: 15px 0;
}

.navbar-brand {
    font-size: 40px;
    font-weight: 700;
    color: #a508b9;
}

.navbar-brand:hover {
    color: #f808f8;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
}

.dropdown-menu .dropdown-item {
    margin-bottom: 10px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #008489;
    color: #fff;
}

.dropdown-mega .dropdown-menu {
    width: 100%;
}

.dropdown-mega h5 {
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin: 0;
}

.list-group-item {
    font-size: 16px;
    color: #3F3B51;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 12px 0;
}

.list-group-item:hover {
    color: #008489;
}

.btn {
    background-color: #da16da;
    color: white;
}

section {
    height: 100vh;
}
footer a{
    color: #0AEDED;

}
.wavy-underline{
  text-decoration-line: overline underline;
  text-decoration-style: wavy;
}

.bg-light-clr{
  background-color: #0AEDED;
}
.side-align-right{
  text-align: right;
}
.text-color{
  color: rgb(196, 37, 90);
}
.section-head{
  color: rgb(113, 16, 240);
}
.event-banner{
    background-image: url(./assets/image/Usign-Gradients-Featured-Image.webp);
    min-height: 250px;
    width: 100%;

}
.row-height{
    height: 250px;
}
.event-heading, .event-description{
    color: white;
}
.event-heading{
    font-size: 60px;
    font-weight: 800;
}
.card-details{
    text-align: right;
    background-color: red;
    background-image: url(./assets/image/testimonial1.jpg);
    position: relative;
    min-height: 40vh;
}
.text-styling{
    width: 90%;
    text-align: center;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
}


/* Responsive */
@media(max-width: 991.5px) {
    .navbar-brand {
        font-size: 30px
    }

    .navbar-nav .nav-item {
        margin: 5px 10px;
    }

    form {
        margin: 30px 0;
    }
}