@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');

body {
    font-family: 'Roboto Slab', serif;
}
 /* Navbar CSS Start */

button:focus,
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

header {
    background-color: #182627;
    padding: 15px 0;
}

.navbar-brand {
    font-size: 40px;
    font-weight: 700;
    color: #a508b9;
}

.navbar-brand:hover {
    color: #f808f8;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
}

.dropdown-menu .dropdown-item {
    margin-bottom: 10px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #008489;
    color: #fff;
}

.dropdown-mega .dropdown-menu {
    width: 100%;
}

.dropdown-mega h5 {
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin: 0;
}

.list-group-item {
    font-size: 16px;
    color: #3F3B51;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 12px 0;
}

.list-group-item:hover {
    color: #008489;
}

.btn {
    background-color: #da16da;
    color: white;
}

 /* Navbar CSS End */

 /* Second Page CSS Start */

section {
    height: 100vh;
}
/* Second Page CSS End */

/* Forth Page CSS Start */

.event-banner{
  background-image: url(./assets/image/Usign-Gradients-Featured-Image.webp);
  min-height: 250px;
  width: 100%;
}
.event-heading, .event-description{
  color: white;
}
.event-heading{
  font-size: 60px;
  font-weight: 800;
}
.row-height{
  min-height: 250px;
}

/* Forth Page CSS End */

/* Sixth page CSS Start */

.card-details{
  text-align: right;
  background-color: red;
  background-image: url(./assets/image/testimonial1.jpg);
  position: relative;
  min-height: 40vh;
}
.text-styling{
  width: 90%;
  text-align: center;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* Sixth page CSS End */

/* Eighth Page CSS Start */
.text-color{
  color: rgb(196, 37, 90);
}
.side-align-right{
  text-align: right;
}

/* Eighth Page CSS End */

/* Tenth Page CSS Start */

.section-head{
  color: rgb(113, 16, 240);
}

/* Tenth Page CSS End */

/* Sixth-Eighth-Tenth Mixed  Start*/
.event-schedule-details, .event-speaker-degination, .sponsor-category{
  color: black;
}
/* Sixth-Eighth-Tenth Mixed CSS End */

/* Responsive Media Query Start*/

@media(max-width: 991.5px) {
  .navbar-brand {
      font-size: 30px
  }

  .navbar-nav .nav-item {
      margin: 5px 10px;
  }

  form {
      margin: 30px 0;
  }
}
/* Media Query End*/

/* first page  */

.d-block {
    max-height: 80vh;
  }
 .carousel-caption {
    position: absolute;
    padding-bottom: 8rem;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .bg-color {
    color: white;
    background: rgb(57, 63, 131);
    background: linear-gradient(90deg, rgba(57, 63, 131, 1) 0%, rgba(56, 8, 55, 1) 53%);
    /* height: 100px; */
  }

  .fs-6 {
    font-size: 10px !important;
  }
  @media(max-width: 992px) {
    #logo {
        display: block;
    }
  }

  /* second page  */
  /* third page  */
  body {
    color: rgb(20, 20, 20);

  }

  .dot {
    height: 250px;
    width: 250px;
    /* background-color: #bbb; */
    border-radius: 50%;
    display: inline-block;
    padding: 20px;
  }

  .fa-solid {
    font-size: 70px;
    padding: 15px;

  }

  .cir-1 {
    background-color: orangered;
    background: rgb(247, 4, 4);
    background: radial-gradient(circle, rgba(247, 4, 4, 1) 0%, rgba(252, 176, 70, 0.9895308465182948) 100%);
  }

  .cir-2 {
    background-color: slateblue;
    background: rgb(212, 210, 236);
    background: radial-gradient(circle, rgba(212, 210, 236, 1) 0%, rgba(69, 69, 185, 0.8242647400757178) 60%);
  }

  .cir-3 {
    background-color: lightgreen;
    background: rgb(186, 204, 197);
    background: radial-gradient(circle, rgba(186, 204, 197, 0.8410714627647934) 20%, rgba(38, 233, 15, 1) 100%);

  }

  .cir-4 {
    background-color: lightblue;
    background: rgb(23, 4, 247);
    background: linear-gradient(90deg, rgba(23, 4, 247, 1) 0%, rgba(70, 224, 252, 0.9895308465182948) 80%);
  }
  /* fourth page  */

  /* fifth page  */
  .color {
    color: rgb(58, 40, 113);
}
/* sixth page  */

/* seventh page  */
.img-fluid {
    max-height: 80vh;
  }
.bg-color {
background: linear-gradient(90deg,
        rgba(164, 225, 232, 1) 0%,
        rgba(136, 136, 227, 1) 35%,
        rgba(52, 50, 92, 1) 100%);
        color: black;
  }
  /* eight page  */
  .back-color {
    color: white;
    background-color: rgb(60, 60, 113);
  }

  .dot {
    height: 150px;
    width: 150px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding: 20px;
  }
.numberCircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    border: none;
    margin: 0 auto;
    z-index: 1;
    transform: translateY(-50%);
    line-height: 50px;
  }

  .card-body {
    color: black;
  }
.fa-solid {
    font-size: 80px;
  }

  .cir-1,
  .btn-1 {
    background: lightcoral;
  }

  .cir-2 {
    background: coral;
  }

  .cir-3 {
    background: rgb(60, 60, 113);
  }

  .btn-1 {

    color: white;
  }

  .btn-2 {
    background: coral;
    color: white;
  }

  .btn-3 {
    background: rgb(60, 60, 113);
    color: white;
  }

  /* nineth page  */

